*{
    text-align: center;
    margin-bottom: 20px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}
#navbar>div{
    margin: auto;
}
a{
    margin: 20px;
}

#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
img{
    width: 300px;
    height: 300px;
}